# junk
.venv/
__pycache__/
.DS_Store
.vscode/
.env

# ignore everything by default
*

# keep only these (must unignore the dirs AND their contents)
!.gitignore
!README.md
!requirements.txt

!src/
!src/**

!visual/
!visual/**

!output/
!output/**

