requirements.txt
/.venv
data/raw/
data/info/
/data/processed/
.env
data/processed/top_deserts.csv/
data/processed/summary_stats.json/
data/processed/fl_tracts_distances.geo.json/
data/processed/tracts_fl_equity.geojson/